.form{
    align-items: center;
    align-self: center;
}

.card-body-center{
    align-items: center;
}

.row{
    align-items: center;
    align-self: center;
}

.form-label{
    align-self: center;
    align-content: center;
}
