{% extends 'base.html.twig' %}

{% block body %}

    </body>

<br>

  <div class="row">
    <div class="col d-flex justify-content-center">
        <div class="card text-white bg-primary mb-3" style="width: 30rem ;">
          <div class="card-body-center">
            <h5 class="card-title">Contact</h5>
            <p class="card-text">Retrouvez moi ici</p>
			<div class="col d-flex justify-content-center">
				<div class="social">
					<a href="https://fr.linkedin.com/"><i class="fab fa-linkedin"></i></a>
            		<a href="https://github.com/tsuru77"><i class="fab fa-github"></i></a>
				</div>
            </div>
          </div>
        </div>
    </div>
  </div>
  
<br>


<form>
  <span class="badge bg-primary">Contactez-moi </span>
      <br>
	  <div class="col d-flex justify-content-center">
      	<div class="form-group">
      <label for="exampleInputEmail1" class="form-label">Votre email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" data-dashlane-rid="c0b924b7504bee72" data-form-type="email" data-kwimpalastatus="alive" data-kwimpalaid="1642084379220-3">
    	</div>
	  </div>
     <br>
	 <div class="col d-flex justify-content-center">
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label">Votre message</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
	  </div>
      <br>
      <button type="button" class="btn btn-primary btn-lg">Envoyer</button>     
	  </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
  </form>

{% endblock %} 