{% extends 'base.html.twig' %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<br>
<div class="head">
    <p> Bonjour ! </p>
    <h1>Je m'apelle Léo Bouvard</h1>
</div>
<img  alt="stylesheet" src="moi.jpg"
width="450"
height="500"
/>

<br> <br>

<div class="col d-flex justify-content-center">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-body">
        <h4 class="card-title">Qui suis-je ?</h4>
        <p class="card-text">Je m'apelle Léo, je suis actuellement étudiant en informatique dans la ville de Roanne.</p>
    </div>
    </div>
</div>

<br> 

<div class="col d-flex justify-content-center">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-body">
        <h4 class="card-title">D'où je viens?</h4>
        <p class="card-text">Je suis né en France dans la ville de lyon, et je suis également Japonais.</p>
    </div>
    </div>
</div>

<br> 

<div class="col d-flex justify-content-center">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-body">
        <h4 class="card-title">Quel est mon objetif ?</h4>
        <p class="card-text">À la suite de mon BUT Réseaux et Télécommunications, je souhaite aller dans une 
        école d'ingénieur pour me spécialiser dans la cybersécurité. Pour enfin travailler en tant que consultant en
        cybersécurité les aider dans ce domaine. </p>
    </div>
    </div>
</div>

<br>
<br>
<br>
{% endblock %}

